bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log
*.pdb
*.exe
*.dll
*.db
*.nuget
*.csproj.nuget.*
*.GeneratedMSBuildEditorConfig.editorconfig
*.csproj.FileListAbsolute.txt
*.csproj.CoreCompileInputs.cache
*.csproj.BuildWithSkipAnalyzers
*.genruntimeconfig.cache
*.assets.cache
*.AssemblyInfoInputs.cache
*.AssemblyInfo.cs
*.ref/
*.refint/
